@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');
* {
    margin: 0;
    padding: 0; 
}

.imagenfondo {
    background-image: url(./Imagenes/fondo\ mujeres.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height: 100%;
}


header {
    display: flex; 
}

header img {
    width: 150px; 
    height: 150px;
    filter: blur (1.1);
    mix-blend-mode: multiply;
    margin: 0px 0px 0px 0px;
}

header nav{
    display: flex;
    width: 100%;
    height: 150px;
    background-color:  rgba(255, 192, 203, 0.911);
    align-content: end;
 
}


header ul {
    list-style: none; 
    display: flex; 
    flex-direction: row;
}


header ul a {
    text-decoration: none;
    display: flex;
}


header ul li {
  display: flex; 
  font-family:"Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: black; 
  margin: 80px 0px 0px 100px;
}

a li i{
    display: flex;
    font-size: large;
    margin: 15px 15px 15px 15px;
    color: blueviolet;
}


.bar a{
    margin-left: 120px;
    transition: all 300ms;
}
.bar a:hover{
    transform: scale(1.2, 1.2);
    background-color: #F94E95;
}

.poder-digital{
   width: 100%;
   margin: 30px 0px 0px 0px;
}

.poder-digital {
    font-family: cursive; font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgb(250, 55, 136);
    font-size:xx-large;
}

.cuerpo-mente-corazón img{
    width: 300px;
    
}

.Tuli {
    display: flex;
    flex-direction: row-reverse;
    justify-content:center;
    gap:50px
}

.Tuli video{
    justify-content:space-between;
    width: 500px;
    height: 300px;
    margin: 20px;
}
.Tuli p{
    padding: 50px;
    width: 40%;
}
